@using System
@using System.Windows.Forms

@inject Service.Utils.ClipboardService ClipboardService

<div class="alert alert-secondary mt-4">
    @if (IsRecording == true)
    {
        <span class="oi oi-circle-x me-2" aria-hidden="true" style="color: green;"></span>
        <strong>session status: connected</strong>
    }
    else
    {
        <span class="oi oi-circle-x me-2" aria-hidden="true" style="color: red;"></span>
        <strong>session status: not connected</strong>
        <br />
        <br />
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Connection URL</span>
          <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="@ConnectionString">
          <button type="button" class="btn btn-primary btn-sm" @onclick="CopyConnectionStringToClipboard">Copy <i class="oi oi-clipboard"></i></button>
        </div>
    }
</div>

@code
{
    [Parameter]
    public bool? IsRecording { get; set; }

    [Parameter]
    public string? ConnectionString { get; set; }

    private async void CopyConnectionStringToClipboard()
    {
        try
        {
            await ClipboardService.WriteTextAsync(ConnectionString ?? "");
        }
        catch
        {
            Console.WriteLine("Cannot write text to clipboard.");
        }
    }
}
