<div class="container">
  <div class="blocking-spinner" *ngIf="isCloningRespotitory">
    <div><mat-spinner></mat-spinner></div>
    <div>Cloning repository...</div>
  </div>

  <!-- <div class="repositories-header" style="width: 100%;">Manage repositories</div>
  <div style="font-size: 0.8em; font-weight: normal; width: 100%;">list of locally registered tests repositories</div> -->

  <div class="repositories-content">
    <div class="add-repository-form">
      <div class="form-fields-container">
          <div class="form-field">
              <label>Repository Name</label>
              <input type="text" [(ngModel)]="repositoryName">
          </div>
          <div class="form-field">
              <label>Repository URL</label>
              <input type="text" [(ngModel)]="repositoryUrl">
          </div>
          <div class="form-field">
              <label>User</label>
              <input type="text" [(ngModel)]="repositoryUser">
          </div>
          <div class="form-field">
              <label>PAT (Token)</label>
              <input type="password" [(ngModel)]="repositoryToken">
          </div>
          <div class="form-field">
            <label>Local Directory</label>
            <input type="text" [(ngModel)]="repositoryLocalDirectory">
          </div>
          <button mat-mini-fab class="main-fab-button" color="primary" (click)="browseForDirectory()"><mat-icon>folder</mat-icon></button>
          <button mat-raised-button color="primary" (click)="registerRepository()">
              Add Repository
          </button>
      </div>
    </div>
    <table class="repositories-table" style="width: 100%;">
        <thead>
            <tr>
                <th class="table-header-id">ID</th>
                <th class="table-header">Repository Name</th>
                <th class="table-header">Repository URL</th>
                <th class="table-header">User</th>
                <th class="table-header">Local Directory</th>
                <th class="table-header">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let repo of repositories"
                class="repository-item"
                (mouseover)="onMouseOver($event)"
                (mouseout)="onMouseOut($event)" style="transition: background-color 0.3s;">
                <td style="width: 1%; white-space: nowrap; padding: 5px; text-align: left;">{{repo.id}}</td>
                <td style="white-space: nowrap; padding: 5px; text-align: center;">{{repo.name}}</td>
                <td style="white-space: nowrap; padding: 5px; text-align: center;"><a href="{{repo.url}}">{{repo.url}}</a></td>
                <td style="white-space: nowrap; padding: 5px; text-align: center;">{{repo.user}}</td>
                <td style="white-space: nowrap; padding: 5px; text-align: center;">{{repo.directory}}</td>
                <td style="white-space: nowrap; padding: 5px; text-align: center;">
                  <button mat-mini-fab class="main-fab-button" color="primary" (click)="unregisterRepository(repo.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>

    <!-- <div style="width: 100%; margin-top: 20px;">
        <div style="display: flex; font-weight: bold; font-size: 0.8em; background-color: #c4d7ff; color: #3f51b5; padding: 12px;">
            <div style="flex: 1;">Name</div>
            <div style="flex: 1;">Local directory</div>
            <div style="flex: 1;">Description</div>
            <div style="flex: 0 0 auto; display: flex; align-items: center; justify-content: center;"></div>
        </div>


        <ng-container *ngFor="let repo of repositories">
            <div style="display: flex; border-bottom: 1px solid #e0e0e0; padding: 12px;">
                <div style="flex: 1;">{{repo.name}}</div>
                <div style="flex: 1;">{{repo.directory}}</div>
                <div style="flex: 1;">{{repo.description}}</div>
                <div style="flex: 0 0 auto; display: flex; align-items: center; justify-content: center;">
                    <mat-icon style="cursor: pointer; color: #ff4081;" (click)="unregisterRepository(repo.id)">delete</mat-icon>
                </div>
            </div>
        </ng-container>


        <style>
            .hovered {
                background-color: #c4d7ff !important;
                cursor: pointer;
            }
        </style>
        <div class="add-row"
            [ngStyle]="{'background-color': 'c4d7ff', 'color': '#3f51b5'}"
            (mouseover)="rowHovered=true"
            (mouseout)="rowHovered=false"
            [ngClass]="{'hovered': rowHovered}"
            style="display: flex; justify-content: center; align-items: center; padding: 8px;" *ngIf="!expandRow" (click)="expandRow = !expandRow">
            <div style="display: flex; align-items: center; cursor: pointer;" >
                <mat-icon style="font-size: 16px; display: flex; font-weight: bold; align-items: center;">add</mat-icon>
            </div>
        </div>
        <div class="add-row" style="display: flex; justify-content: center; align-items: center; padding: 8px; background-color: #c4d7ff; " *ngIf="expandRow">
                <div style="padding: 16px; width: 100%;" *ngIf="expandRow">
                    <div style="margin-bottom: 10px;">
                        <div style="font-size: 1.0em; font-weight: bold; color: #3f51b5; ">register new repository</div>
                        <div style="font-size: 0.8em; font-weight: normal;">provide details to register a new repository to be used for testing</div>
                    </div>
                    <div style="margin-bottom: -10px; display: flex; justify-content: space-between;">
                        <mat-form-field style="width: 32%;">
                            <mat-label>name</mat-label><input matInput #nameInput>
                        </mat-form-field>
                        <mat-form-field style="width: 32%;">
                            <mat-label>local directory</mat-label><input matInput #localDirectoryInput>
                        </mat-form-field>
                        <mat-form-field style="width: 32%;">
                            <mat-label>description</mat-label><input matInput #descriptionInput>
                        </mat-form-field>
                    </div>
                    <div style="padding-top: 0; display: flex; justify-content: left;">
                        <button mat-button style="color: #3f51b5; margin-right: 10px;" (click)="registerRepository(nameInput.value, localDirectoryInput.value, descriptionInput.value)">register repository</button>
                        <button mat-button style="color: #3f51b5;" (click)="expandRow = !expandRow">cancel</button>
                    </div>
                </div>
        </div>
    </div> -->
</div>
