<!-- <mat-toolbar style="background-color: #c4d7ff; color: #3f51b5;">
  <span style="font-size: 0.7em; font-weight: bold;">
    Thot Tests Manager
    <ng-container *ngIf="router.url.includes('repositories')"><span style="font-size: 1.4em; font-weight: bold; padding-left: 5px; padding-right: 3px;"> / </span>repositories</ng-container>
    <ng-container *ngIf="router.url.includes('scripts')"><span style="font-size: 1.4em; font-weight: bold; padding-left: 5px; padding-right: 3px;"> / </span>scripts</ng-container>
    <ng-container *ngIf="router.url.includes('manage-tests')"><span style="font-size: 1.4em; font-weight: bold; padding-left: 5px; padding-right: 3px;"> / </span>manage tests</ng-container>
    <ng-container *ngIf="router.url.includes('create-test')"><span style="font-size: 1.4em; font-weight: bold; padding-left: 5px; padding-right: 3px;"> / </span>create test</ng-container>
  </span>
  <span class="spacer" style="flex-grow: 1;"></span>
  <button mat-button [routerLink]="['/repositories']" style="color: #3f51b5;">repositories</button>
  <button mat-button [routerLink]="['/scripts']" style="color: #3f51b5;">scripts</button>
  <button mat-button [routerLink]="['/manage-tests']" style="color: #3f51b5;">manage tests</button>
  <button mat-button [routerLink]="['/create-test']" style="color: #3f51b5;">create test</button>
</mat-toolbar> -->
<div style="display: flex; justify-content: center; align-items: center;">
  <button mat-mini-fab class="main-fab-button"><mat-icon>search</mat-icon></button>
</div>

<button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Repositories</button>
<button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
<!-- <button mat-button [routerLink]="['/scripts']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">code</mat-icon>Create automation script</button>
<button mat-button [routerLink]="['/manage-tests']" class="main-nav-button">manage tests</button> -->
<div style="height: calc(100vh - 160px); overflow-y: auto; scrollbar-width: thin; scrollbar-color: #3f51b5 #c4d7ff; margin-top: 10px;">
  <div style="padding-right: 8px;">
    <!-- <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" style="background-color: #c4d7ff; color: #3f51b5;">
      <mat-tree-node *matTreeNodeDef="let node" style="background-color: #c4d7ff; color: #3f51b5; min-height: 0 !important;">
        <button mat-button class="main-nav-button">
          <mat-icon class="mat-icon-rtl-mirror" style="vertical-align: text-top; margin-right: 8px;  min-height: 0;">arrow_right</mat-icon>
          {{node.name}}
        </button>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle [cdkTreeNodeTypeaheadLabel]="node.name" style="min-height: 0 !important; margin-top: 10px;">
        <button mat-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name" class="main-nav-button">
          <mat-icon class="mat-icon-rtl-mirror" style="vertical-align: text-top; margin-right: 8px;  min-height: 0;">{{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}</mat-icon>
          {{node.name}}
        </button>
      </mat-tree-node>
    </mat-tree> -->
    <!-- <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button>
    <button mat-button [routerLink]="['/repositories']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">list</mat-icon>Add tests repository</button>
    <button mat-button [routerLink]="['/create-test']" class="main-nav-button"><mat-icon style="vertical-align: text-top; margin-right: 8px;">fiber_manual_record</mat-icon>Record new test</button> -->
  </div>
</div>
