.main-nav-button {
    color: #3f51b5;
    width: 95%;
    display: block;
    margin: 0 auto;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
}

.main-fab-button {
    color: #3f51b5;
    margin: 5px; 
    border-radius: 10px;
    background-color: #c4d7ff;
    box-shadow: none !important;
}
